<a class="link" href="/products/<%=p.id%>"><article>
    <img src="/img/<%=p.image[0]%>" alt="" class="product_img">
    <div class="main-article">
        <h4 class="description"><%=p.name%></h4>
        <p class="price">$<%=p.price%></p>
        <%let estado=(p.used===true)?"Usado":"Nuevo"%>
        <p class="condition"><%=estado%></p>
    </div>
</article></a>