<!DOCTYPE html>
<html lang="en">

    <!-- head -->
    <%- include('../partials/head',{title:"menú principal"})%>
    
<body>

    <!-- nav -->
    <%- include('../partials/nav')%>


    <!-- header -->
    <%- include('../partials/header',{categories})%>

    <main>
        <section class="cta-main">
            <div>
                <h1>Marcas reconocidas, calidad inigualable</h1>
                <form class="search-bar">  
                    <input type="text" placeholder="Encuentra el instrumento de tus sueños">
                    <button class="trs-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </section>
        <section class="main-inferior">
            <section class="sales">
                <h2>Ofertas por tiempo limitado</h2>
                <section class="carrousel">
                    <%const saleProducts=products.filter(e=>e.discount===true)%>
                    <%for(p of saleProducts){%>
                        <%- include('../products/article',{p})%>
                    <%}%>
                </section>
            </section>
    
            <section class="ranking-list">
                <h2>Los productos más buscados</h2>
                <ol>
                    <li>Casio VL Tone VL-1</li>
                    <li>Hofner 176 Galaxie</li>
                    <li>Korg Kronos 2</li>
                    <li>Moog Studio 3</li>
                    <li>Line 6 Variax JTV-69</li>
                </ol>
            </section>
        </section>
    </main>

    <!-- footer -->
    <%- include('../partials/footer')%>

</body>
</html>