<!DOCTYPE html>
<html lang="en">

    <!-- head -->
    <%- include('../partials/head')%>
    
<body>
    
    <!-- nav -->
    <%- include('../partials/nav')%>

    <!-- header -->
    <%- include('../partials/header')%>

    <main>
        <div class="register-form">
            <div class="container">
                <form action="/users/register" method="post" enctype="multipart/form-data">
                    
                    <h3>Formulario de Registro</h3>
                    <input name="name" placeholder="Nombre y Apellido"><br>
                    
                    <label for>Fecha de nacimiento</label><br>
                    <input name="birthDate" type="date" value="1900-01-01"><br>

                    <input name="userName" placeholder="Nombre de Usuario"><br>
                
                    <input name="email" type="email" placeholder="Correo electrónico"><br>
                    
                    <input name="phone" type="tel" placeholder="Teléfono"><br>
                    
                    <input name="location" type="text" placeholder="Domicilio"><br>
                    
                    <select>
                        <option value="">Elije un país</option>
                    
                        <%for(const oneLocation of location){%>
                            <option value="<%=oneLocation.value%>"><%=oneLocation.country%></option>
                        <%}%>
                    </select>

                    <label>Foto de usuario</label><br>
                    <input type="file" name="avatar" accept=".jpg"><br>

                    <input type="text" name="password" placeholder="Ingrese contraseña" ><br>
                    <input type="text" name="pass-repeat" placeholder="Confirme contraseña" ><br>
                    <div class="line-arrange">
                        <button class="rnd-button med-button button-01" type="submit">Enviar</button>
                        <button class="rnd-button med-button button-02" type="reset">Reset</button>
                    </div>
                </form>
                <%if(locals.errorMessages){%>
                    <%errorMessages.forEach(e=>{%>
                        <p><%=e.msg%></p>                        
                    <%});
                }%>
            </div>
        </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer')%>

</body>
</html>