<!DOCTYPE html>
<html lang="en">

    <!-- head -->
    <%- include('../partials/head',{title:"registro"})%>
    
<body>
    
    <!-- nav -->
    <%- include('../partials/nav')%>

    <!-- header -->
    <%- include('../partials/header',{categories})%>

    <main>
        <div class="register-form">
            <div class="container">
                <form action="/users/register" method="post" enctype="multipart/form-data">
                    
                    <h3>Formulario de Registro</h3>

                    <div id="errors"></div>

                    <input name="fullName" placeholder="Nombre y Apellido"
                        class='<%= locals.errorMessages && errorMessages.fullName ? 'input-error' : null %>'
                        value='<%= locals.oldData && !errorMessages.fullName ? oldData.fullName : null %>'><br>

                    <div class="error"><h6><%= locals.errorMessages && errorMessages.fullName ? errorMessages.fullName.msg : null %></h6></div>
                    
                    <label for>Fecha de nacimiento</label><br>
                    <input name="birthDate" type="date" value="1900-01-01"><br>
                    
                    <input name="userName" placeholder="Nombre de Usuario"
                        class='<%= locals.errorMessages && errorMessages.userName ? 'input-error' : null %>'
                        value='<%= locals.oldData?oldData.userName:null %>'><br>
                    
                    <div class="error"><h6><%= locals.errorMessages && errorMessages.userName ? errorMessages.userName.msg : null %></h6></div>
                    
                    <input name="email" type="text" placeholder="Correo electrónico"
                        class='<%= locals.errorMessages && errorMessages.email ? 'input-error' : null %>'
                        value='<%= locals.oldData && !errorMessages.email ? oldData.email : null %>'><br>

                    <div class="error"><h6><%= locals.errorMessages && errorMessages.email ? errorMessages.email.msg : null %></h6></div>
                    
                    <input name="phone" type="tel" placeholder="Teléfono"
                        class='<%= locals.errorMessages && errorMessages.phone ? 'input-error' : null %>'
                        value='<%= locals.oldData?oldData.phone:null %>'><br>
                
                    <div class="error"><h6><%= locals.errorMessages && errorMessages.phone ?errorMessages.phone.msg : null %></h6></div>
                    
                    <input name="address" type="text" placeholder="Domicilio"
                        class='<%= locals.errorMessages && errorMessages.address ? 'input-error' : null %>'
                        value='<%= locals.oldData?oldData.address:null %>'><br>
                
                    <div class="error"><h6><%= locals.errorMessages && errorMessages.address ?errorMessages.address.msg : null %></h6></div>
                    
                    <select name="location">
                        <option value=''>Elije un país</option>
                    
                        <%for(const oneLocation of location){%>
                            <option value="<%= oneLocation.value %>"><%= oneLocation.country %></option>
                        <%}%>

                    </select>

                    <div class="error"><h6><%= locals.errorMessages && errorMessages.location ?errorMessages.location.msg : null %></h6></div>
                    <label>Foto de usuario</label><br>
                    <input type="file" name="avatarImage" accept=".jpg,.jpeg"><br>
                    
                    <div class="error"><h6><%= locals.errorMessages && errorMessages.avatarImage ? errorMessages.avatarImage.msg : null %></h6></div>
                    
                    <input type="password" name="password" placeholder="Ingrese contraseña"
                        class='<%= locals.errorMessages && errorMessages.password ? 'input-error' :null %>'
                        value='<%= locals.oldData && !errorMessages.password ? oldData.password:null %>'><br>

                    <div class="error"><h6><%= locals.errorMessages && errorMessages.password ? errorMessages.password.msg : null %></h6></div>
                    
                    <input type="password" name="passRepeat" placeholder="Confirme contraseña"
                        class='<%= locals.errorMessages && errorMessages.passRepeat ? 'input-error' : null %>'
                        value='<%= locals.oldData && !errorMessages.passRepeat ? oldData.passRepeat : null %>'><br>

                    
                    <div class="error"><h6><%= locals.errorMessages && errorMessages.passRepeat ? errorMessages.passRepeat.msg : null %></h6></div>
                    
                    <div class="line-arrange">
                        <button class="sqr-button med-button button-01" type="submit">Enviar</button>
                        <button class="sqr-button med-button button-02" type="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer')%>

    <!-- <script src="/js/location.js"></script> -->

    <script src="/js/userValidation.js"></script>

</body>
</html>