<%let finalPrice=Math.ceil(p.origPrice*(1-p.discountAmount/100))%>

<a class="link" href="/products/<%=p.id%>"><article>
    <img src="/img/products/<%=p.image[0].filename%>" alt="" class="product_img">
    <div class="main-article">
        <h3 class="description"><%=p.name%></h3>
        <%if(p.discount){%>
            <p class="line-through inf-hidden">$<%=p.origPrice%></p>
            <div class="horizontal">
                <p class="text-emphasis-01">$<%=finalPrice%></p>
                <p class="text-emphasis-02"><%=p.discountAmount%>% OFF</p>
            </div>
        <%}else{%>
            <p class="text-emphasis-01">$<%=finalPrice%></p>
        <%}%>
        
        <%let estado=(p.used===true)?"Usado":"Nuevo"%>
        <p class="condition"><%=estado%></p>
        <%if(p.payments){%>
            <h5 class="inf-hidden">Cuotas sin Interés</h5>
        <%}%>
        <%if(p.freeShipment){%>
            <p class="text-emphasis-02 inf-hidden">Envíos Gratis</p>
        <%}%>  
    </div>
</article></a>