<!DOCTYPE html>
<html lang="en">

    <!-- head -->
    <%- include('../partials/head')%>
    
<body>

    <!-- nav -->
    <%- include('../partials/nav')%>

    <!-- header -->
    <%- include('../partials/header')%>
    
    <main>
        <div class="register-form">
            <div class="container">
                <form action="/products/<%=productToShow.id%>/edit?_method=PUT" method="post">
                    <h3>Formulario de Edición de Producto</h3>
                    
                    <input name="name" value="<%=productToShow.name%>" required>
                    
                    <input name="price" value="<%=productToShow.price%>" placeholder="Precio" required>

                    <input name="quantity" value="<%=productToShow.quantity%>" type="number" placeholder="Cantidad" required>
                    
                    <textarea name="description" placeholder="Descripción" required><%=productToShow.description%></textarea>

                    <div class="line-arrange">
                        <button class="sqr-button med-button button-01" type="submit">Enviar</button>
                        <a href="/" class="sqr-button med-button button-02" type="reset">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer')%>
    
</body>
</html>