<!DOCTYPE html>
<html lang="en">

    <!-- head -->
    <%- include('../partials/head')%>
    
<body>

    <!-- nav -->
    <%- include('../partials/nav')%>

    <!-- header -->
    <%- include('../partials/header')%>

    <main>
        <h2>Todos los productos</h2>
        <section class="carrousel">
            <%for(p of products){%>
                <%- include('../partials/article')%>
            <%}%>
        </section>
    </main>

    <!-- footer -->
    <%- include('../partials/footer')%>

</body>
</html>