<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Yellowtail&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="/js/script.js"></script>
    <title>krautrock | producto</title>
</head>
<body>

    <!-- nav -->
    <%- include('../partials/nav')%>

    <!-- header -->
    <%- include('../partials/header')%>

    <main>
        <div id="product-item">
            <div id="pictures">
                <img class="big-pic" src="/img/<%=productToShow.image[0]%>" alt="Yamaha CS 80">
                <div>
                    <img class="small-pic" src="/img/<%=productToShow.image[1]%>" alt="">
                    <img class="small-pic" src="/img/<%=productToShow.image[2]%>" alt="">
                    <img class="small-pic" src="/img/<%=productToShow.image[3]%>" alt="">
                    <img class="small-pic" src="/img/<%=productToShow.image[4]%>" alt="">
                </div>
            </div>
            <div id="product-info">
                <h3 id="product-title"><%=productToShow.name%></h3>
                <p id="seller-name">Vendedor: Vintage Synths <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                <h2 class="price"><%=productToShow.price%></h2>
                <button class="btn-full sqr-button lrg-button button-01">Comprar</button>
                <div class="line-arrange">
                    <a class="btn-half sqr-button button-02" href="/cart">Agregar al carrito</a>
                    <button class="btn-half sqr-button button-03">Favoritos</button>
                </div>
                <p id="item-description"><%=productToShow.description%></p>
            </div>
        </div>      
    </main>
    
    <!-- footer -->
    <%- include('../partials/footer')%>

</body>
</html>